# build artifacts
build/limes*
.gopath/pkg/
build/install/
build/docker.tar

# test artifacts
pkg/test/migrations/*.sql
unittest.db
/cover.out
/*.cover.out
/cover.html

# custom configuration files used during development
*test*.yaml
*config*.yaml
